@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: white;
    font-family: "Roboto", sans-serif;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}
.logo h1{
    background-color: #00CEC8;
    color: white;
    padding: 6%;
    border-radius: 50%;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 35px;
}
.nav-bar a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.nav-bar a:hover{
    border-bottom:2px solid #00CEC8 ;
}
